<% include partials/header %>


<ul class="nav">
<li>Bokningssystem </li>
<li><a href="kommandeKorningar">Kommande Körningar</a> </li>
<li><a href="index"><b>Bokningar</b></a> </li>
<li><a href="skapaBokning">Skapa ny bokning</a> </li>
<li><form name="searchfunc" id="mainSearch" method="POST" action="/search">
	<input id="search" name="search" type="text">
	<input type="submit" value="search"> </form>
</ul>

<span style="float:right;"><a href='/users/logout'>Logga ut</a></span><br>

<div id="nya" display: block>
<table class="tg" id="nyaBokningarTabell">
	<tr>
		<th class="tg-yw41">Datum</th>
		<th class="tg-yw41">Tid</th> 
		<th class="tg-yw41">Veckodag</th>
		<th class="tg-yw41">Ordernummer</th>
		<th class="tg-yw41">Namn</th>
		<th class="tg-yw41">Adress</th>
		<th class="tg-yw41">Postnummer</th>
		<th class="tg-yw41">Telefonnummer</th>

	</tr>
	<% var stripe = "tg-b7b8" %>
	<% searchResultName.forEach(function(customer){ %>
	<%if(customer.inbokad == "nej" && customer.avklarad == "nej"){%>
	<tr>
		<td class=<%=stripe%>><%= customer.datum %></td>
		<td class=<%=stripe%>><%= customer.tid %></td>
		<td class=<%=stripe%>><%= customer.veckodag %></td>
		<td class=<%=stripe%>><%= customer.ordernummer %></td>
		<td class=<%=stripe%>><%= customer.namn %></td>
		<td class=<%=stripe%>><%= customer.adress %></td>
		<td class=<%=stripe%>><%= customer.postnummer %></td>
		<td class=<%=stripe%>><%= customer.telefonnummer %></td>
		<%if (stripe == "tg-b7b8"){ %>
		<% stripe = "tg-yzt1" %>
		<% }else { %>
		<% stripe = "tg-b7b8" %>
		<%}%>
	</tr>
	<%}%>
	<% }) %>
	<% searchResult.forEach(function(customer){ %>
	<%if(customer.inbokad == "nej" && customer.avklarad == "nej"){%>
	<tr>
		<td class=<%=stripe%>><%= customer.datum %></td>
		<td class=<%=stripe%>><%= customer.tid %></td>
		<td class=<%=stripe%>><%= customer.veckodag %></td>
		<td class=<%=stripe%>><%= customer.ordernummer %></td>
		<td class=<%=stripe%>><%= customer.namn %></td>
		<td class=<%=stripe%>><%= customer.adress %></td>
		<td class=<%=stripe%>><%= customer.postnummer %></td>
		<td class=<%=stripe%>><%= customer.telefonnummer %></td>
		<%if (stripe == "tg-b7b8"){ %>
		<% stripe = "tg-yzt1" %>
		<% }else { %>
		<% stripe = "tg-b7b8" %>
		<%}%>
	</tr>
	<%}%>
	<% }) %>   
</table>
</div>

<% include partials/footer %>